<%- include('../layout/header.ejs') -%>

<div class="main">
  <div class="container">
    <div class="content">
      <% for (let i = 0; i < posts.length; i++) { %>
      <div class="post">
        <div class="top">
          <h2>
            <a href="/posts/<%= posts[i].url %>"><%= posts[i].title %></a>
          </h2>
        </div>
        <div class="body">
          <p><%= posts[i].body %></p>
        </div>
        <div class="bottom">
          <div class="author">
            Автор:
            <a href="/users/<%= posts[i].owner.login %>"
              ><%= posts[i].owner.login %></a
            >
          </div>
          <a href="/posts/<%= posts[i].url %>#<%= posts[i].url %>">Комментарии: <%= posts[i].commentCount %></a>
        </div>
      </div>
      <% } %>
      <div class="pagination">
        <% if (current > 2) { %>
        <a class="new" href="/archive/<%= Number(current) -1 %>">← Назад</a>
        <% } %> <% if (current == 2) { %>
        <a class="new" href="/">На главную</a>
        <% } %> <% if(pages > 0 && current < pages) { %>
        <a class="old" href="/archive/<%= Number(current) + 1 %>">Вперед →</a>
        <% } %>
      </div>
    </div>
    <%- include('../layout/sidebar') -%>
  </div>
<script src="/javascripts/jquery.min.js"></script>
<script src="<%= assetFingerprint('/javascripts/scripts.js') %>"></script>
</body>
</html>
</div>
